<div class="page-header">
	<h1>
		<%= @reward.name %><br />
		<small><%= @reward.description %></small>
	</h1>
</div>
<h3>More Details: </h3>
<div>Starts: 
	<span class="badge badge-default">
		<%= @reward.start_date %>
	</span>
</div>
<div>Ends: 
	<span class="badge badge-default">
		<%= @reward.end_date %>
	</span>
</div>
<div>Taps to Earn: 
	<span class="badge badge-info">
		<%= @reward.actions_needed %>
	</span>
</div>
<div>
	Repeats: 
	<% if @reward.repeats %>
		<span class="badge badge-success">
			Yes
		</span>
	<% else %>
		<span class="badge badge-important">
			No
		</span>
	<% end %>
</div>