<h1><%= @company.name %></h1>
<br />
<!-- Tab Declarations -->
<ul class ="nav nav-tabs">
	<li class="active">
		<a href="#data" data-toggle="tab">
			Data
		</a>
	</li>
	<li>
		<a href="#locations" data-toggle="tab">
			Locations
		</a>
	</li>
	<li>
		<a href="#rewards" data-toggle="tab">
			Rewards
		</a>
	</li>
</ul>
<!-- Tab Content -->
<div class = "tab-content">
	<div class = "tab-pane pad10 active" id="data">
		<h3>Nothing to show yet...</h3>
	</div>
	<div class = "tab-pane pad10" id="locations">			
		<% if @company.vendors.any? %>
			<% @company.vendors.each do |vendor| %>
				<%= render "vendors/small", :vendor => vendor %>
			<% end %>
		<% else %>
			No Locations yet... add some!
		<% end %>
		<p>
			<%= link_to "Add a new location", new_vendor_path, :class => "btn btn-primary" %>
		</p>	
	</div>
	<div class = "tab-pane pad10" id="rewards">
		<% if @company.rewards.any? %>
			<% @company.rewards.each do |reward| %>
				<%= render "rewards/small", :reward => reward %>
			<% end %>
		<% else %>
			No Rewards yet... add some!
		<% end %>
		<p>
			<%= link_to "Add a new reward", new_reward_path, :class => "btn btn-primary" %>
		</p>
	</div>
</div>


