<h1><%= @company.name %></h1>
<hr />
<h3>Information</h3>
<ul>
	<li>Email: <%= @company.email %></li>
	<li>Username: <%= @company.username %></li>
	<li>Number of Locations: <%= @company.vendors.count %></li>
</ul>
<% if @company.vendors.count > 0 %>
<h3>Locations: </h3>
	<ul>
	<% @company.vendors.each do |vendor| %>
		<li><%= link_to vendor.name, vendor %></li>
	<% end %>
	</ul>
<% end %>
<%= link_to "Add a new location", new_vendor_path, :class => :btn %>

