<div class="page-header" style="border:0;">
	<h1>
		<%= @company.name %><br />
		<small>
			<%= @company.category %>
		</small>
	</h1>
</div>
<!-- Tab Declarations -->
<ul class ="nav nav-tabs">
	<li class="active">
		<a href="#data" data-toggle="tab">
			Data
		</a>
	</li>
	<li>
		<a href="#locations" data-toggle="tab">
			Locations
		</a>
	</li>
	<li>
		<a href="#rewards" data-toggle="tab">
			Rewards
		</a>
	</li>
</ul>
<!-- Tab Content -->
<div class = "tab-content">
	<div class = "tab-pane pad10 active" id="data">
		<p>Total taps: 
			<span class="badge badge-info">
				<%= @company.total_taps %>
			</span>
		</p>
		<p>Taps in last 7 days: 
			<span class="badge badge-info">
				<%= @company.num_taps_since(7.days) %>
			</span>
		</p>
		<br />
		<div id="week-chart" style="width:600px; height: 300px;">
		</div>
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function () {
				new Highcharts.Chart({
					chart: {
						renderTo: "week-chart"
					},
					title: {
						text: "Taps In Last 7 Days"
					},
					xAxis: { type: 'datetime'},
					yAxis: { 
						title: {text: 'Taps' }
					},
					series: [{
						name: "Taps",
						pointInterval: <%= 1.day * 1000 %>,
						pointStart: <%= 6.days.ago.at_midnight.to_i * 1000 %> ,
						data: <%= @company.taps_in_range(6.days.ago.to_date, Date.today) %>
					}]
				});
			});
		</script>
		<p>Taps in last 30 days: 
			<span class="badge badge-info">
					<%= @company.num_taps_since(30.days) %>
			</span>
		</p>
		<br />
		<div id="month-chart" style="width:600px; height: 300px;">
		</div>
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function () {
				new Highcharts.Chart({
					chart: {
						renderTo: "month-chart"
					},
					title: {
						text: "Taps In Last 30 Days"
					},
					xAxis: { type: 'datetime'},
					yAxis: { 
						title: {text: 'Taps' }
					},
					series: [{
						name: "Taps",
						pointInterval: <%= 1.day * 1000 %>,
						pointStart: <%= 29.days.ago.at_midnight.to_i * 1000 %> ,
						data: <%= @company.taps_in_range(29.days.ago.to_date, Date.today) %>
					}]
				});
			});
		</script>
	</div>
	<div class = "tab-pane pad10" id="locations">			
		<% if @company.vendors.any? %>
			<% @company.vendors.each do |vendor| %>
				<%= render "vendors/small", :vendor => vendor %>
			<% end %>
		<% else %>
			<p>No Locations yet... add some!</p>
		<% end %>
		<p>
			<%= link_to "Add a new location", new_vendor_path, :class => "btn btn-primary" %>
		</p>	
	</div>
	<div class = "tab-pane pad10" id="rewards">
		<% if @company.rewards.any? %>
			<% @company.rewards.each do |reward| %>
				<%= render "rewards/small", :reward => reward %>
			<% end %>
		<% else %>
			<p>No Rewards yet... add some!</p>
		<% end %>
		<p>
			<%= link_to "Add a new reward", new_reward_path, :class => "btn btn-primary" %>
		</p>
	</div>
</div>


