<div class="page-header">
	<h1>
		<%= @vendor.name %><br />
		<small>
			<%= @vendor.addressToString %>
		</small>
	</h1>
</div>
<% if (@vendor.orders.count < 1) %>
	<%= render "orders/form" %>
<% end %>
<h3>Location Stats: </h3>
<div>
	Total Taps: 
	<span class="badge badge-info">
		<%= @vendor.total_taps %>
	</span>
	<div id="week-chart" style="width:600px; height: 300px;">
		</div>
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function () {
				new Highcharts.Chart({
					chart: {
						renderTo: "week-chart"
					},
					title: {
						text: "Taps In Last 7 Days"
					},
					xAxis: { type: 'datetime'},
					yAxis: { 
						title: {text: 'Taps' }
					},
					series: [{
						name: "Taps",
						pointInterval: <%= 1.day * 1000 %>,
						pointStart: <%= 6.days.ago.at_midnight.to_i * 1000 %> ,
						data: <%= @vendor.taps_in_range(6.days.ago.to_date, Date.today) %>
					}]
				});
			});
		</script>
</div>
<hr />
<% if (@vendor.orders.count > 0) %>
	<div>
		You have already ordered tags for this location, 
		<%= render "orders/formlink" %> or 
		<%= link_to "check your order status", vendor_orders_path(@vendor) %>
	</div>
<% end %>
<div>
	<%= link_to "Places Within 10 Miles (JSON)", :controller => :vendors, :action => :near, :format => :json, :lat => @vendor.lat, :lng => @vendor.lng, :radius => 10 %>
</div>